@charset "utf-8";

body {
  margin: 0;
}

.header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  box-shadow: 5px 5px 5px rgba(154, 88, 93, 0.2);
}

.nav_wrap {
  width: 1030px;
  margin: 0 auto;
  height: 80px;
  margin-top: 10px;
  display: flex;
}

.home {
  font-size: 22px;
  line-height: 80px;
  color: #efa6c1;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Poppins';
  margin-right: 0.35px
}

.nav {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  font-size: 22px;
  margin-left: 30px;
  line-height: 80px;
  color: #c8b2d6;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Poppins';
}

.singbt{
  width: 90px;
  height: 50px;
  margin: auto 0;
  margin-left: 55px;
  float: left;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #ea4c89;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 14px;
}

.sort{
  width: 1030px;
  margin: 0 auto;
  margin-top: 100px;
  height: 200px;
}

.page_title{
  padding-top: 40px;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  font-weight: 700;
  color: #000;
}

.sort_button_wrap{
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.sort_button{
  width: 206px;
  height: 50px;
  background: rgb(255, 255, 255);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: rgb(238, 238, 238)0px 1px 0px 1px;
}

.select_sort_button{
  position: relative;
  border-color: #92a8d1;
  font-weight: 500;
  color: #92a8d1;
  background: #f6faf8;
}

.content{
  width: 1030px;
  margin: 0 auto;
  margin-top: 30px;
}

.content_wrap{

}

.card_wrap{
  width: 195px;
  margin-right: 11px;
  margin-bottom: 11px;
}
.card{
  border: 1px solid rgb(238, 238, 238);
  background: rgb(255, 255, 255);
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.card_img {
  position: relative;
  width: 100%;
  height: 194px;
}

.card_text_wrap{
  padding: 15px 10px;
  height: 80px;
}

.card_info{
  position: relative;
  font-size: 14px;
  padding-bottom: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card_cost{
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  height: 20px;
}

.card_cost::after{
  content: "ì›";
  font-size: 13px;

}

.footer {
  background: #393939;
  width: 100%;
  height: 30px;
}

.footer>p {
  line-height: 30px;
  font-family: 'Nanum Gothic';
  font-size: 15px;
  text-align: center;
  color: #9c9c9c;
}
