@charset "utf-8";

body {
  margin: 0;
}

.sort{
  width: 1030px;
  margin: 0 auto;
  margin-top: 100px;
  height: 200px;
}

.page_title{
  padding-top: 40px;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  font-weight: 700;
  color: #000;
}

.sort_button_wrap{
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.sort_button{
  width: 206px;
  height: 50px;
  background: rgb(255, 255, 255);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: rgb(238, 238, 238)0px 1px 0px 1px;
}

.select_sort_button{
  position: relative;
  border-color: #92a8d1;
  font-weight: 500;
  color: #92a8d1;
  background: #f6faf8;
}

.content{
  width: 1030px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.content_wrap{
  display: flex;

}

.card_wrap{
  width: 250px;
  height: 350px;
  margin-left: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.card{
  border: 1px solid rgb(238, 238, 238);
  background: rgb(255, 255, 255);
  display: block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.card_img {
  position: relative;
  width: 100%;
  height: 250px;
}

.card_text_wrap{
  padding: 15px 10px;
  height: 100px;
}

.card_info{
  position: relative;
  font-size: 14px;
  padding-bottom: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card_cost{
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  height: 20px;
}

.card_cost::after{
  content: "원";
  font-size: 13px;

}

.pageing{
  width: 1030px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.pageing ul{
  display: inline-block;
  margin: 0 20px 30px 15px;
  vertical-align: top;
  list-style: none;

}

.pageing li{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  line-height: 30px;
  text-align: center;
  list-style: none;
}

.pageing a{
  display: block;
  height: 30px;
  font-size: 15px;
  text-decoration: none;
  color: inherit;
  background: rgb(255, 80, 88);
  color: #fff;
}
