@charset "utf-8";

body {
  margin: 0;
}

.header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  box-shadow: 5px 5px 5px rgba(154, 88, 93, 0.2);
}

.nav_wrap {
  width: 1030px;
  margin: 0 auto;
  height: 80px;
  margin-top: 10px;
  display: flex;
}

.home {
  font-size: 22px;
  line-height: 80px;
  color: #efa6c1;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Poppins';
  margin-right: 0.35px
}

.nav {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  font-size: 22px;
  margin-left: 30px;
  line-height: 80px;
  color: #c8b2d6;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Poppins';
}

.singbt{
  width: 90px;
  height: 50px;
  margin: auto 0;
  margin-left: 55px;
  float: left;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #ea4c89;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 14px;
}

.main_slider {
  height: 300px;
  margin-top: 85px;
}

.slider_wrap {
  width: 1030px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  width: 3090px;
  height: 100%;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

.slider li {
  float: left;
  position: relative;
  width: 1030px;
  height: 100%;
}

.slider img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider_btn {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 60px;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.slider_btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

#next {
  right: 0px;
  border-radius: 7px 0px 0px 7px;
  color: #eee;
}

#previous {
  left: 0px;
  border-radius: 0px 7px 7px 7px;
  color: #eee;
}

.recommend{
  height: 412px;
  margin-top: 50px;
}

.recommend_wrap{
  width: 1030px;
  height: 100%;
  margin: 0 auto;

}
.recommend_wrap > span {
    font: inherit;
    font-size: 24px;
    font-weight: bold;
}

.card_wrap{
  display: flex;
  width: 100%;
  height: 360px;
  margin-top: 20px;
}

.card{
  height: 360px;
  width: 240px;
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;

  margin-right: 23px;
}

.card_img_wrap{
  margin: 0 auto;
  margin-top: 30px;
}

.card_img{
  width: 194px;
  height: 194px;
  border-radius: 70%;
  overflow: hidden;
}

.card_text_wrap{
  display: flex;
  flex-direction: column;
  height: 110px;
  width: 230px;
  margin: 10px;
  align-items: center;
}

.line{
  width: 80%;
  height: 1px;
  background-image: linear-gradient(to right, black 18%, rgba(255, 255, 255, 0) 0%);
  background-position: center bottom;
  background-size: 7px 1px;
  background-repeat: repeat-x;
  margin-top: 30px;
}

.card_info_wrap{
  display: flex;
  height: 30px;
  width: 80%;
  margin-top: 20px;

}
.cost{
  font-size: 18px;
  font-weight: bold;
}
.cost::after{
  content: "ì›";
  font-size: 13px;
  margin-left: 3px;
}

.category{
  background-color: rgb(249, 249, 249);
  margin-top: 30px;
}

.category_wrap{
    margin-top: 30px;
    width: 1030px;
    margin: 0 auto;
}

.category_mark{
  padding-top: 30px;
  font: inherit;
  font-size: 24px;
  font-weight: bold;
}

.category_title{
  font: inherit;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}

.viewAll{
  margin-left: 10px;
  font-size: 18px;
  color: rgb(204, 204, 204);
  text-decoration: none;
  cursor: pointer;
}

.photo_table {
  width: 1030px;
  margin: 30px auto;
}

.table_img {
  height: 360px;
  width: 240px;
}

.footer {
  background: #393939;
  width: 100%;
  height: 30px;
}

.footer>p {
  line-height: 30px;
  font-family: 'Nanum Gothic';
  font-size: 15px;
  text-align: center;
  color: #9c9c9c;
}
