@charset "utf-8";

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main_slider {
  height: 300px;
  margin-top: 85px;
}

.slider_wrap {
  width: 1030px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  width: 3090px;
  height: 100%;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

.slider li {
  float: left;
  position: relative;
  width: 1030px;
  height: 100%;
}

.slider img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider_btn {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 60px;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.slider_btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

#next {
  right: 0px;
  border-radius: 7px 0px 0px 7px;
  color: #eee;
}

#previous {
  left: 0px;
  border-radius: 0px 7px 7px 7px;
  color: #eee;
}

.recommend{
  height: 412px;
  margin-top: 50px;
}

.recommend_wrap{
  width: 1030px;
  height: 100%;
  margin: 0 auto;

}
.recommend_wrap > span {
    font: inherit;
    font-size: 24px;
    font-weight: bold;
}

.recommend_card_wrap{
  display: flex;
  width: 100%;
  height: 360px;
  margin-top: 20px;
}

.recommend_card{
  height: 360px;
  width: 240px;
  background-color: rgb(249, 249, 249);
  color: rgb(33,33,33);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  margin-right: 23px;
}

.recommend_card_img_wrap{
  margin: 0 auto;
  margin-top: 30px;
}

.recommend_card_img{
  width: 194px;
  height: 194px;
  border-radius: 70%;
  overflow: hidden;
}

.recommend_card_text_wrap{
  display: flex;
  flex-direction: column;
  height: 110px;
  width: 230px;
  margin: 10px;
  align-items: center;
}

.line{
  width: 80%;
  height: 1px;
  background-image: linear-gradient(to right, black 18%, rgba(255, 255, 255, 0) 0%);
  background-position: center bottom;
  background-size: 7px 1px;
  background-repeat: repeat-x;
  margin-top: 30px;
}

.recommend_card_info_wrap{
  display: flex;
  height: 30px;
  width: 80%;
  margin-top: 20px;

}

.cost{
  font-size: 18px;
  font-weight: bold;
}

.cost::after{
  content: "원";
  font-size: 13px;
  margin-left: 3px;
}

.category{
  background-color: rgb(249, 249, 249);
  margin-top: 30px;
}

.category_wrap{
    margin-top: 30px;
    width: 1030px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.category_mark{
  padding-top: 30px;
  font: inherit;
  font-size: 24px;
  font-weight: bold;
}

.category_title{
  font: inherit;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}

.viewAll{
  margin-left: 10px;
  font-size: 18px;
  color: rgb(204, 204, 204);
  text-decoration: none;
  cursor: pointer;
}

.categoryo_table_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 1030px;
  margin: 20px auto;
}
.categoryo_table {
  display: flex;
  flex-wrap: wrap;
}

.card_wrap{
  width: 195px;
  margin-right: 11px;
  margin-bottom: 11px;
}
.card{
  border: 1px solid rgb(238, 238, 238);
  background: rgb(255, 255, 255);
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.card_img {
  position: relative;
  width: 100%;
  height: 194px;
}

.card_text_wrap{
  padding: 15px 10px;
  height: 80px;
}

.card_info{
  position: relative;
  font-size: 14px;
  padding-bottom: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card_cost{
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  height: 20px;
}

.card_cost::after{
  content: "원";
  font-size: 13px;

}

.borderTop{
  border-top: 1px solid rgb(229, 229, 229);
  padding-top: 30px;
}
